
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header{
    background-color: #fafafa;
    min-height: 140px;
}

header .container .row .box-horario{
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 50px;
    line-height: 50px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    border-bottom-left-radius: 40px;    
    font-size: 17px;
}

header .container .row .box-hablamos{
    text-align: center;
    background-color: #ffff41;
    color: #040404;
    height: 64px;
    line-height: 64px; 
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;    
    font-size: 24px;       
}

header .container .row .dir{
    text-align: center;
    color: #16263f;
    font-size: 16px;       
}
header .container .row .tel{
    text-align: center;
    color: #000;
    font-size: 18px;       
}

.navbar-inverse {
    background-color: #000;
    border-color: #000;
    background-image: none;
    border-radius: 0px;
}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-shadow: none;
}

.navbar{
    margin-bottom: 0px;
}

#navbar > a.active {
    color: #ffff41;
}

#navbar > a:hover {
    color: #ffff41;
}

.navbar-brand {
    float: left;
    height: 43px;
    padding: 13px 45px;
    font-size: 16px;
    line-height: 20px;
}

.navbar-brand:first-child{
    padding-left:0px;
}
.navbar-logo {
    float: left;
    height: 43px;
    padding: 17px 0px;
}

.navbar-header {
    float: left;
    margin-right: -97px !important;
}

.navbar-header .navbar-logo img{
    position: relative;
    z-index: 99;
    width: 50%;
    margin-top: -115px;
}
.carousel{
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption{

}

.carousel-caption {
    text-align: left;
    right: 20%;
    left: 20%;
    top: 50%;
    padding-bottom: 30px;
}

.carousel-caption h3{
    font-size: 40px;
}

.carousel-caption p{
    width: 15%;
    min-height: 20px;
    border-bottom: 7px solid #ffff41;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ffff41;
}


.carousel-inner{
    height: 550px;
}

.banners{
    margin: 30px 0px;
}

.banners .bn-hours {
    background-image: url("../img/banner_hours.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.banners .bn-location {
    background-image: url("../img/banner_location.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%; 
}

.banners .bn-contact {
    background-image: url("../img/banner_contact.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%; 
}





/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(min-width:576px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}




